.images {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;        
    margin: auto;


    &-cat {
        width: 15%;
        object-fit: cover;
        border-radius: 10px;
    }
}